#coaching-table{
  height: 100%;
  overflow: auto;

}
#coaching-table::-webkit-scrollbar {
  display: none;
}

#post{
  cursor: pointer;
}

#title-paragraph{
  max-width: 250px;
  overflow-wrap: break-word;
}

td{
  border-bottom: none;
}

tr{
  border-bottom: 1px solid rgb(211, 211, 211);
}

// SMARTPHONE
@media only screen and (max-width: 425px) {
  #table-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .table-remove{
    display: none;
  }

}
// TABLET
@media only screen and (min-width: 426px) and (max-width: 768px) {

  #userBar{
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
// DESKTOP
@media only screen and (min-width: 1024px) {
#title-paragraph{
  max-width: 350px;
  overflow-wrap: break-word;
}
#userBar{
  display: flex;
  flex-direction: column;
  align-items: end;
}
}
