  <div class="d-flex justify-content-center" id="annuncio-container">
    <div id="annuncio">
      <p class="m-0">Date: {{tutorial.creationDate | date: 'd/M/yy - h:mm a'}}</p>
      <h5>{{tutorial.title}}</h5>
      <p class="m-0" *ngIf="tutorial.creationDate != tutorial.lastModifyDate">Last Modify: {{tutorial.lastModifyDate | date: 'd/M/yy - h:mm a'}}</p>
      <hr>
      <h5 *ngFor="let skill of tutorial.skills">{{skill}} </h5>
      <hr>
      <p>{{tutorial.body}}</p>
      <div id="buttons">
        <button type="button" class="btn btn-danger" (click)="deletePost()" *ngIf="!check()">Del</button>
        <button type="button" class="btn btn-warning" (click)="editPost()" *ngIf="!check()">Edit</button>
        <button type="button" class="btn btn-success" *ngIf="check()">Rate it</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/tutorials']">Back</button>
      </div>
    </div>
  </div>
